@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
  border-radius: 0.25rem; 
  transition: background-color 0.3s ease; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}